.el-table {
  background-color: transparent !important;
  border: 1px solid rgba(126, 172, 255, 0.2) !important;
}
.el-table thead p span {
  font-weight: normal !important;
  position: relative !important;
  top: 0px !important;
}
.el-table--border::after,
.el-table--group::after,
.el-table::before {
  background-color: transparent !important;
}
.el-table .is-group tr th {
  background-color: rgba(126, 172, 255, 0.2) !important;
  border-bottom: 1px solid rgba(126, 172, 255, 0.2) !important;
  border-right: 1px solid rgba(126, 172, 255, 0.2) !important;
}
.el-table th,
.el-table td {
  padding: 4px 0 !important;
  color: #fff !important;
  background-color: transparent !important;
}
.el-table tr {
  background-color: transparent !important;
}
.el-table .is-leaf {
  background-color: rgba(126, 172, 255, 0.2) !important;
}
.el-table .cell {
  text-align: center !important;
}
.el-table td,
.el-table th.is-leaf {
  border-bottom: 1px solid rgba(126, 172, 255, 0.2) !important;
}
.el-table__body tr:hover > td {
  background-color: rgba(126, 172, 255, 0.2) !important;
  /* background-color: rgba(42,87,191) !important; */
  color: #fff;
}
.el-table--border td,
.el-table--border th {
  border-right: transparent !important;
}
.el-table__empty-text {
  color: #fff !important;
}
.SeventhTemp .el-table__body-wrapper {
  width: 920px !important;
}
th .cell span {
  font-size: 12px !important;
  color: #ffffff !important ;
  opacity: 0.5 !important;
}
.el-pagination {
  font-weight: normal !important;
}
.el-pagination .el-pager .number {
  min-width: 24px !important;
  height: 24px !important;
  line-height: 22px !important;
  border-radius: 3px !important;
  border: solid 1px rgba(219, 219, 219, 0.5) !important;
  background-color: transparent !important;
  color: rgba(255, 255, 255, 0.5) !important;
  font-size: 14px !important;
  margin-right: 10px !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
}
.el-pagination .el-pager .number:hover {
  border: solid 1px rgba(219, 219, 219, 0.85) !important;
  color: rgba(255, 255, 255, 0.85) !important;
}
.el-pagination .el-pager .active,
.el-pagination .el-pager .active:hover {
  background-color: #fff !important;
  color: #092393 !important;
}
.el-pagination .btn-prev,
.el-pagination .btn-next {
  width: 24px !important;
  min-width: 24px !important;
  height: 24px !important;
  background-color: transparent !important;
  color: rgba(255, 255, 255, 0.5) !important;
}
.el-pagination .el-pager .more {
  width: 24px !important;
  height: 24px !important;
  background-color: transparent !important;
  color: #ffffff !important;
  opacity: 0.5 !important;
  margin-left: -10px !important;
  line-height: 11px !important;
}
.el-pager .more::before {
  line-height: 24px !important;
}
.el-pagination .btn-prev:hover,
.el-pagination .btn-next:hover {
  color: rgba(255, 255, 255) !important;
}
.el-pagination button:disabled {
  color: rgba(87, 106, 180) !important;
}
.el-pagination .btn-next {
  padding-left: 0 !important;
  margin-left: -6px !important;
}
.el-pagination button:disabled {
  background-color: transparent !important;
  color: rgba(87, 106, 180) !important;
}
.el-pagination .el-pagination__total,
.el-pagination .el-pagination__jump,
.el-pagination__editor.el-input .el-input__inner {
  color: rgba(255, 255, 255, 0.5) !important;
  height: 24px !important;
  line-height: 24px !important;
  background-color: transparent !important;
}
.el-input__inner {
  border: solid 1px rgba(219, 219, 219, 0.5) !important;
  min-width: 24px !important;
}
.el-pagination__editor.el-input {
  width: 40px !important;
}
.el-pagination {
  text-align: center !important;
}
.el-popover {
  width: 240px !important;
  height: 140px;
  padding: 16px 20px 0 35px;
  border: 0px;
  color: #ffffff;
}

.circleDian {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #fff;
  margin-right: 6px;
}
.el-popper[x-placement^="bottom"] .popper__arrow::after {
  border-bottom-color: rgba(0, 17, 74, 0.9);
}
.el-popper[x-placement^="top"] .popper__arrow::after {
  border-top-color: rgba(0, 17, 74, 0.9);
}
.el-popper .popper__arrow::after {
  border-width: 10px;
}
.el-popper[x-placement^="top"] .popper__arrow {
  border-top-color: transparent;
}
.el-popper[x-placement^="bottom"] .popper__arrow {
  border-bottom-color: transparent;
}
