::-webkit-scrollbar {
  width: 10px;
  background: rgba(87, 166, 255, 0.2);
  height: 10px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 999px;
  width: 10px;
  height: 10px;
  border: 1px solid transparent;
}

// ::-webkit-scrollbar-track {
//   box-shadow: 1px 1px 5px rgba(55, 92, 134, 0.5) inset;
// }

::-webkit-scrollbar-thumb {
  width: 120px;
  min-height: 20px;
  background: #98c8ff;
  border-radius: 22px;
  background-clip: content-box;
  box-shadow: 0 0 0 5px #98c8ff inset;
}

::-webkit-scrollbar-corner {
  background: red;
}
::-webkit-scrollbar-button {
  display: none;
}
