//==========弹窗部分的样式重置==========//
.el-dialog {
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*height:600px;*/
  max-height: calc(100% - 30px);
  max-width: calc(100% - 30px);
}

.el-dialog .el-dialog__body {
  padding: 0;
  flex: 1;
  overflow: auto;
}
//重写头部为蓝色
.el-dialog__header {
  padding-top: 10px;
  background: -webkit-linear-gradient(left, #003cbd, #0085ff);
  background: -o-linear-gradient(right, #003cbd, #0085ff);
  background: -moz-linear-gradient(right, #003cbd, #0085ff);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #003cbd, #0085ff);
  // filter: progid: DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#00a1ff, endColorStr=#05e4f8);
  /*IE 6 7 8*/
}

.el-dialog__title {
  font-size: 16px;
  color: #fff;
  line-height: 48px;
}

//弹框的关闭按钮
.el-dialog__headerbtn {
  top: 10px;
  right: 10px;
}
.el-dialog__headerbtn .el-dialog__close {
  color: #fff;
  opacity: 0.7;
  font-size: 22px !important;
}

.el-dialog__headerbtn:hover .el-dialog__close {
  opacity: 1;
  color: #fff;
  animation: rotateCss 0.2s linear;
  -webkit-animation: rotateCss 0.2s linear;
}
//关闭按钮动画效果
@keyframes rotateCss {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
}
.diaBottom {
  width: 720px;
  height: 60px;
  background: #e0f2ff;
  //取消按钮
  .diaBtnCancal {
    float: right;
    margin-right: 12px;
    margin-top: 12px;
    width: 72px;
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    text-align: center;
    cursor: pointer;
    color: #51b7fa;
    @include blueShadow;
    border: solid 1px #64baf7;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    background: #fff;
  }
  .diaBtnCancal:hover {
    background: #eaf7ff;
  }
  .diaBtnCancal:active {
    background: #d9f0ff;
  }
  //确定按钮
  .diaBtn {
    float: right;
    margin-right: 12px;
    margin-top: 12px;
    width: 74px;
    height: 34px;
    line-height: 34px;
    border-radius: 17px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    @include blueLinear;
    @include blueShadow;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
  }
  .diaBtn:hover {
    @include blueLinearHover;
  }
  .diaBtn:active {
    @include blueLinearClick;
  }
}
//=====《认知诊断专用样式》=====//
//=====《认知诊断专用样式》=====//
//=====《认知诊断专用样式》=====//
//重写头部为蓝色
.el-dialog {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.el-dialog__header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0 20px;
  height: 48px;
  background: -webkit-linear-gradient(top, #003bd1, #0042d6);
  background: -o-linear-gradient(bottom, #003bd1, #0042d6);
  background: -moz-linear-gradient(bottom, #003bd1, #0042d6);
  /*Firefox3.6-15*/
  background: linear-gradient(to bottom, #003bd1, #0042d6);
  border-bottom: 1px solid #2c62dc;
}
.el-dialog .el-dialog__body {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: -webkit-linear-gradient(top, #0042d6, #0073f5, #0042d5);
  background: -o-linear-gradient(bottom, #0042d6, #0073f5, #0042d5);
  background: -moz-linear-gradient(bottom, #0042d6, #0073f5, #0042d5);
  /*Firefox3.6-15*/
  background: linear-gradient(to bottom, #0042d6, #0073f5, #0042d5);
}
.diaBottom {
  border-top: 1px solid #2c62dc;
  background: -webkit-linear-gradient(top, #004fde, #003bd2);
  background: -o-linear-gradient(bottom, #004fde, #003bd2);
  background: -moz-linear-gradient(bottom, #004fde, #003bd2);
  /*Firefox3.6-15*/
  background: linear-gradient(to bottom, #004fde, #003bd2);
}
.diaBottom .diaBtn {
  background: #00b466 !important;
}

.diaBottom .diaBtnCancal {
  background: #00aeff !important;
  color: #fff;
  border: none;
  width: 74px;
  height: 34px;
  line-height: 34px;
}
.diaBottom .diaBtn:hover,
.diaBottom .diaBtnCancal:hover {
  opacity: 0.85;
}
